.box {
    background-color: $menu--text--hover;
    margin: 18px 18px 18px 206px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    &:first-of-type {
        margin-top: 78px;
    }
}

.box__fluid {
    display: flex;
    justify-content: center;
    padding-bottom: $padding--bottom;
}

.box__fluid__narrow {
    width: 688px;
    margin: 0 20px;
}

.box__fluid__narrow__graph {
    position: relative;
    margin: auto;
    width: 99%;
}