/* Colors */
$menu-bg: #191919;
$menu-bg-hover: #282828;
$menu-bg-hover-stripe: #f58220;
$menu-text: #999999;
$menu-tex-hover: #ffffff;
$container-bg: #f5f5f2;

/* Font sizes */
$menu-font-size: 14px;

/* Fonts */
$menu-font: 'Roboto', sans-serif;
