/* Colors */
$menu--bg: #191919;
$menu--bg--hover: #282828;
$menu--bg--hover-stripe: #f58220;
$menu--text: #999999;
$menu--text--hover: #ffffff;
$top-bar--text: #9c9c9c;
$top-bar--text--user-name: #56819f;
$container--bg: #f5f5f2;
$container--lines: #e3e3e3;
$container--orange: #f58220;

/* Font sizes */
$menu--font-size: 14px;

/* Fonts */
$menu--font: 'Roboto', sans-serif;
