.container {
    width: calc(100vw - 188px - 18px - 18px - 18px);
    margin: 78px 0 0 206px;
}

.box {
    background-color: $menu--text--hover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 18px;

}
.box--container {
    display: flex;
    justify-content: center;
}
.box--container-688 {
    width: 688px;
}