.box--calendar {
    color: $box--font-color;
    font-family: $menu--font;
    font-size: $box--font-size--heading;
    font-weight: 500;
    //text-transform: uppercase;
    padding: 18px;
    border-top: 1px solid $box--line;
    display: flex;
    justify-content: center;
}

.box--calendar--picker {
    width: 325px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid $box--line;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.box--calendar--picker-from {
    display: flex;
    align-items: center;
    margin: 2px 0;
    font-size: 14px;
    color: $box--font-color--dark;
    padding: 0 15px;
}

.box--calendar--picker-to {
    border-left: 1px solid $box--line;
    display: flex;
    align-items: center;
    margin: 2px 0;
    font-size: 14px;
    color: $box--font-color--dark;
    padding: 0 15px;
}

.box--calendar--picker-icon {
    display: flex;
    align-items: center;
    margin: 2px 0;
    font-size: 14px;
    color: $top-bar--text;
    padding: 0 15px;
}

.box--calendar--button {
    width: 41px;
    height: 40px;
    border-radius: 3px;
    background-color: $box--button-orange;
    border: 0;
    color: $menu--text--hover;
    font-size: 15px;
    margin: 25px 15px;
}