.box--link {
    border-top: 1px solid $box--line;
}

.box--link--button {
    width: 127px;
    height: 40px;
    border-radius: 3px;
    background-color: $box--button-orange;
    border: 0;
    color: $menu--text--hover;
    font-size: 18px;
    font-weight: 300;
    margin: 25px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box--link--www-name {
    padding: 18px 0 18px 18px;
    color: $box--font-color;
    font-weight: 700;
}

.box--link--www-address {
    padding: 18px 0;
    a {
        color: $top-bar--text--user-name;
        font-weight: 300;
        text-decoration: none;
    }
}

.box--link--icon {
    padding: 18px 0;
    display: flex;
    visibility: hidden;
}

.box--link--icon--links {
    color: $menu--bg--hover-stripe;
    cursor: pointer;
}

.box--link--icon--trash {
    color: $top-bar--text;
    cursor: pointer;
}

.box--link--row {
    border-top: 1px solid $box--line;
    &:hover {
        background-color: $container--bg--color;
    }
    &:hover .box--link--icon {
        visibility: visible
    }
    &:last-of-type {
        border-bottom: 1px solid $box--line;
    }
}
