.box--table {
    color: $box--font-color;
    font-family: $menu--font;
    font-size: $box--font-size--heading;
    padding: 18px;
    border-top: 1px solid $box--line;
}

.box--table--trow {
    display: flex;
    justify-content: center;
    &:first-of-type {
        margin: 40px 0 20px 0;
    }
    &:last-of-type {
        margin-bottom: 40px;
    }
}

.box--table--cell {
    width: 310px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $box--line;
    &:nth-of-type(even) {
        margin-left: 65px;
    }
}

.box--table--cell--heading {
    color: $box--font-color;
    font-size: $box--font-size--heading;
    font-weight: 700;
}

.box--table--cell--value {
    color: $box--font-color--dark;
    font-size: $box--font-size--heading;
    font-weight: 300;
}