.button__text {
    width: 127px;
    height: 40px;
    border-radius: 3px;
    background-color: $box--button-orange;
    border: 0;
    color: $menu--text--hover;
    font-size: 18px;
    font-weight: 300;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: $padding--bottom;
    &:last-of-type {
        margin-bottom: 0;
    }
}