.calendar {
    color: $box--font-color;
    font-size: $box--font-size--heading;
    font-weight: 500;
    height: 40px;
    border: 1px solid $box--line;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //margin: 40px 0;
    //border: 3px solid gold; /* DEL */
}

.calendar > form {
    display: flex;
}

input[type="date"] {
    border: none;
    outline: none;
    &:first-of-type {
        border-right: 1px solid $box--line;
    }
}

.calendar__from {
    display: flex;
    align-items: center;
    margin: 2px 0;
    font-size: 14px;
    color: $box--font-color--dark;
    padding: 0 0 0 15px;
    //border: 3px solid brown; /* DEL */
}

.calendar__to {
    border-left: 1px solid $box--line;
    display: flex;
    align-items: center;
    margin: 2px 0;
    font-size: 14px;
    color: $box--font-color--dark;
    padding: 0 0 0 15px;
    //border: 3px solid purple; /* DEL */
}

.calendar__icon {
    display: flex;
    align-items: center;
    margin: 2px 0;
    font-size: 14px;
    color: $top-bar--text;
    padding: 0 15px 0 0;
    //border: 3px solid lightblue; /* DEL */

}

.calendar__button {
    min-width: 42px;
    height: 40px;
    border-radius: 3px;
    background-color: $box--button-orange;
    border: 0;
    color: $menu--text--hover;
    font-size: 15px;
    margin: 0 0 0 15px;
    //border: 3px solid lightgray; /* DEL */
}