.data {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

.data__row {
    height: 20px;
}

.data__heading {
    color: $box--font-color;
    font-size: $box--font-size--heading;
    font-weight: 700;
    border-bottom: 1px solid $box--line;
}

.data__value {
    text-align: right;
    color: $box--font-color--dark;
    font-size: $box--font-size--heading;
    font-weight: 300;
    border-bottom: 1px solid $box--line;
}

.data__space {
    width: 60px;
}

.graph__heading {
    color: $box--font-color;
    font-family: $menu--font;
    font-size: $box--font-size--heading;
    font-weight: 500;
    padding: 0 0 40px 0;
}

.graph__legend {
    margin: 0 0 40px 0;
    display: flex;
    justify-content: space-evenly;
    .button__text {
        margin: 0;
        cursor: default;
        font-size: 16px;
        color: $top-bar--text--user-name;
        &:not(:last-of-type) {
            background-color: $box--line;
        }
        &:last-of-type {
            background-color: $menu--text--hover;
        }
    }
}

.button__circle {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.button__circle__blue {
    background-color: #8DBEC8;
}

.button__circle__orange {
    background-color: #F29E4E;
}

.button__circle__green {
    background-color: #71B374;
}

.table__row {
    border-top: 1px solid $box--line;
    &:hover {
        background-color: $container--bg--color;
    }
    &:last-of-type {
        border-bottom: 1px solid $box--line;
    }
    &:hover .table_sm__icon__links {
        visibility: visible;
    }
    &:hover .table_sm__icon__trash {
        visibility: visible;
    }
}

.table__heading__cell {
    color: $box--font-color;
    display: flex;
    margin: 8px 0 8px 0;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    &:hover {
        background: $container--bg--color;
        cursor: pointer;
    }
    &:hover .table__heading__name {
        color: $box--font-color--dark;
    }
    &:hover .table__heading__icon {
        visibility: visible;
    }
}

.table__heading__bg {
    display: flex;
}

.table__heading__icon {
    font-size: 10px;
    position: relative;
        top: 2px;
    padding: 0 0 0 8px;
    visibility: hidden;
}

.table__cell {
    padding: 18px 10px;
    color: $box--font-color--dark;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
}

.table__scroll_wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
    padding-bottom: $padding--bottom;
}

.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

.table__links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-bottom: $padding--bottom;
    justify-content: center;
    font-size: 16px;
}

.table__links > li {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $box--font-color;
}

.table__links > .active1 {
    background: $container--bg--color;
}

.table__links__icon {
    font-size: 16px;
}

.table_sm {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    margin-bottom: $padding--bottom;
}

.table_sm__name {
    padding: 18px 0 18px 18px;
    color: $box--font-color;
    font-weight: 700;
}

.table_sm__address {
    padding: 18px 0;
    a {
        color: $top-bar--text--user-name;
        font-weight: 300;
        text-decoration: none;
    }
}

.table_sm__icon {
    padding: 18px 18px 18px 0;
    display: flex;
    justify-content: flex-end;
}

.table_sm__icon__links {
    color: $menu--bg--hover-stripe;
    cursor: pointer;
    visibility: hidden;
}

.table_sm__icon__trash {
    color: $top-bar--text;
    cursor: pointer;
    visibility: hidden;
}

.personal_data input[type="text"] {
    border-radius: 3px;
    border: 1px solid $box--line;
    outline: none;
    width: 300px;
    height: 40px;
    padding: 0 10px;
    color: $box--font-color--dark;
    font-size: 14px;
    font-weight: 300;
}

.personal_data {
    width: 100%;
}

.personal_data .label {
    width: 150px;
    color: $box--font-color;
    font-weight: 700;
}

.personal_data .field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 15px 0;
}

.personal_data .br {
    margin: 30px 0 30px 0;
    border-bottom: 1px solid $box--line;
}

.postback {
    width: 100%;
    padding: 0 18px;
}

.postback__box {
    display: flex;
    width: 100%;
}

.postback__title {
    margin: 0 0 20px 0;
    color: $box--font-color--dark;
    font-size: 14px;
    font-weight: 300;
}

.postback .field {
    display: block;
    width: 100%;
    &:not(:last-of-type) {
        margin-right: 18px;
    }
    margin-bottom: 20px;
}

.postback .field__wide {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid $box--line;
    border-top: 1px solid $box--line;
    &:first-of-type {
        border-right: 1px solid $box--line;
    }
    &:first-of-type {
        margin-left: -21px;
        padding-left: 21px;
    }
    &:last-of-type {
        margin-right: -21px;
        padding-right: 21px;
    }
}

.postback__values {
    height: 130px;
    overflow-y: auto;
    color: $box--font-color--dark;
    font-size: 14px;
    font-weight: 300;
    padding: 0 15px;
}

.postback__range {
    height: 130px;
    overflow-y: auto;
    color: $box--font-color--dark;
    font-size: 14px;
    font-weight: 300;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.range__box {
    width: 100%;
}

.postback__values > div {
    margin-bottom: 20px;
}

.postback .red_bold {
    color: $box--button-orange;
}

.postback .label {
    margin: 0 0 20px 0;
    color: $box--font-color;
    font-size: 16px;
    font-weight: 700;
}

.postback__textarea {
    width: 100%;
    outline: none;
    border: 1px solid $box--line;
    border-radius: 3px;
    padding: 15px;
    color: $box--font-color;
    font-size: 12px;
    font-weight: 300;
    resize: none;
    height: 190px;
}

#postback-type, #postback-country {
    appearance: none;
    padding: 5px 30px 5px 10px;
    font-size: 14px;
    display: block;
    outline: none;
    background-image: url(https://image.flaticon.com/icons/png/128/118/118738.png);
    background-size: 15px auto;
    background-repeat: no-repeat;
    background-position: right 5px center;
    border-radius: 3px;
    border: 1px solid $box--line;
    width: 100%;
    color: $box--font-color--dark;
    font-weight: 300;
}

.button__right {
    display: flex;
    justify-content: flex-end;
}

.postback__heading {
    padding: 15px 15px 0 15px;
}

.range__label {
    display: flex;
    justify-content: space-between;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 0;
    background: linear-gradient(135deg, $box--button-orange 50%, transparent 50%) content-box, linear-gradient(135deg, white 50%, transparent 50%) border-box;
    transform: rotate(45deg) translate(10px, 10px);
    cursor: pointer;
    margin-top: -14;
}

input[type=range]::-moz-range-thumb {
    border: 0;
    height: 20px;
    width: 20px;
    border-radius: 0;
    background: linear-gradient(135deg, $box--button-orange 50%, transparent 50%) content-box, linear-gradient(135deg, white 50%, transparent 50%) border-box;
    transform: rotate(45deg) translate(15px, 15px);
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    height: 20px;
    width: 20px;
    background: linear-gradient(135deg, $box--button-orange 50%, transparent 50%) content-box, linear-gradient(135deg, white 50%, transparent 50%) border-box;
    transform: rotate(45deg) translate(15px, 15px);
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: $box--button-orange;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: $box--button-orange;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: $box--button-orange;
}

input[type=range]::-ms-fill-upper {
    background: $box--line;
}

.modalsec {
    .modal {
        position: fixed;
            left: 0;
            top: 0;
        z-index: 8888;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        display: none;
        overflow: auto;
        overflow: auto;
        padding: 40px;
    }
    
    .modal-content {
        background-color: white;
        width: 100%;
    }

    .modal-content-2 {
        background-color: white;
        max-width: 400px;
        margin: 0 auto;
    }
    .modal-content-3 {
        background-color: white;
        max-width: 600px;
        margin: 0 auto;
    }
}

.modal__fluid {
    display: flex;
    justify-content: center;
    margin-bottom: $padding--bottom--modal;
}

.links-modal {
    width: 100%;
}

.modal .postback__box {
        padding-bottom: $padding--bottom--modal;
}

.modal .heading__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $padding--bottom--modal;
    border-bottom: 1px solid $box--line;
    padding: 18px;
}

.modal .heading {
    color: $box--font-color;
    font-size: $box--font-size--heading;
    font-weight: 500;
    text-transform: uppercase;
}

.modal .btn-close {
    color: $box--font-color;
    font-size: $box--font-size--heading;
    font-weight: 500;
    cursor: pointer;
}

.modal .label {
    margin: 0 0 20px 0;
    color: $box--font-color;
    font-size: 16px;
    font-weight: 700;
}

.modal .field {
    width: 100%;
    margin-right: 15px;
    &:first-of-type {
        margin-left: 15px;
    }
}

.modal .field__login {
    &:first-of-type {
        margin: 0 15px;
    }
}

.modal .field__wide {
    flex: 43%;
}

.modal .field__narrow {
    flex: 14%;
}

.modal input[type="text"] {
    border-radius: 3px;
    border: 1px solid $box--line;
    outline: none;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    color: $box--font-color--dark;
    font-size: 14px;
    font-weight: 300;

}
.modal #select-campaign, .modal #language {
    appearance: none;
    padding: 0 10px;
    height: 40px;
    font-size: 14px;
    display: block;
    outline: none;
    background-image: url(https://image.flaticon.com/icons/png/128/118/118738.png);
    background-size: 15px auto;
    background-repeat: no-repeat;
    background-position: right 5px center;
    border-radius: 3px;
    border: 1px solid $box--line;
    width: 100%;
    color: $box--font-color--dark;
    font-weight: 300;
}

.manager__photo {
    width: 70px;
    height: 70px;
    margin: 0 25px;
}

.chat__fluid {
    display: flex;
    align-items: center;
    &:not(:last-of-type) {
        margin-bottom: 20px;
    }
}

.display__flex {
    display: flex;
}

.chat__box {
    display: block;
    border-top: 1px solid $box--line;
}

.chat__form {
    display: flex;
}

.chat__input {
    width: 100%;
}

.chat__field {
    margin: 20px;
    padding: 20px;
}

.chat__field__user {
    border-radius: 10px;
    background-color: $top-bar--text--user-name;
    color: white;
    font-size: 14px;
    font-weight: 300;  
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
            top: 379px;
            left: 350px;
        background: linear-gradient(45deg, $top-bar--text--user-name 50%, transparent 50%);
        transform: rotate(45deg);
    } 
}

.chat__field__manager {
    border-radius: 10px;
    background-color: $box--font-color;
    color: $box--font-color--dark;
    font-size: 14px;
    font-weight: 300;   
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
            top: 226px;
            left: 50px;
        background: linear-gradient(45deg, $box--font-color 50%, transparent 50%);
        transform: rotate(-135deg);
    } 
    &::after {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
            top: 420px;
            left: 50px;
        background: linear-gradient(45deg, $box--font-color 50%, transparent 50%);
        transform: rotate(-135deg);
    }
}

.chat__block {
    display: block;
}

.bottom__line {
    border-bottom: 1px solid $box--line;
    margin-bottom: 20px;
}
.select__website__heading {
    margin: 20px 15px;
    color: $box--font-color;
    font-size: 16px;
    font-weight: 700;
}

.select__website__values {
    display: flex;
    height: 180px;
    overflow-y: auto;
}

.select__website__column {
    width: 100%;
    margin-right: 15px;
    &:first-of-type {
        margin-left: 15px;
    }
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-of-type) {
        margin-bottom: 10px;
    }
    padding: 10px;
    &:hover {
        background-color: $checkbox--hover;
    }
    &:hover .checkbox__right {
        visibility: visible;
    }
}

.checkbox__left {
    display: flex;
    align-items: center;
}

.checkbox__right {
    display: flex;
    align-items: center;
    visibility: hidden;
}

.checkbox .icon-show {
    color: $top-bar--text--user-name;
    font-size: 14px;
    cursor: pointer;
    position: relative;
        top: 3px;
}

.checkbox__box {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $box--line;
}

.checkbox label {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 300;
    color: $box--font-color--dark;
    cursor: pointer;
    &::before, &::after {
        position: absolute;
        content: "";
        display: inline-block;
    }
    &::before {
        height: 14px;
        width: 14px;
        border: 1px solid $box--font-color--dark;
        left: -12px;
    }
    &::after {
        height: 4px;
        width: 8px;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        transform: rotate(-45deg);
        left: -9px;
        top: 4px;
    }
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    + label::after {
        content: none;
    }
    &:checked + label::after {
        content: "";
    }
    &:checked + label::before {
        background: $box--button-orange;
    }
}

.select__website__genlink {
    width: 100%;
    margin-left: 20px;
}

.select__website__buttons {
    display: flex
}

.select__modal__buttons {
    display: flex;
    justify-content: flex-end;
}

.modal__buttons__box {
    display: flex;
    padding-bottom: 20px;
}

.exit__button {
    background: $top-bar--text--user-name;
}

.modal button {
    font-size: 16px;
    margin-bottom: 0;
    margin-left: 15px;
    &:last-of-type {
        margin-right: 20px;
    }
}

.modal .button__title {
    position: relative;
    left: -10px;
}

.modal .button__icon {
    position: relative;
    left: -10px;
    top: 2px;
}

.modal .button__narrow {
    width: 90px;
}

.button__inactive {
    background: $box--line;
}

.manager__name {
    color: $menu--bg;
    font-size: 30px;
    font-weight: 500;
}

.manager__status {
    color: white;
    font-size: 12px;
    font-weight: 300;
    padding: 5px;
    width: 42px;
    border-radius: 3px;
    background-color: #04ae00;
}


@media (max-width: 767px) {
    .box {
        box-shadow: 0;
        width: 100%;
        margin: 0;
        &:first-of-type {
            margin-top: 0;
        }
    }
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: 100;
}
  
.skip-link:focus {
    top: 0;
}