.menu {
    background-color: $menu--bg;
    position: fixed;
        top: 0;
        left: 0;
    width: 188px;
    height: 100%;
}

.menu--logo-hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.menu--hamburger {
    padding: 20px;
    position: relative;
    top: -1px;
}

.menu--logo {
    padding: 20px;
}

.menu--link {
    color: $menu--text;
    display: flex;
    align-items: center;
    font-family: $menu--font;
    height: 40px;
    text-decoration: none;
    margin-left: 4px;
}

.icon-general, .icon-details, .icon-links, .icon-banners, .icon-payout, .icon-postback, .icon-personaldata {
    padding-left: 14px;
    padding-right: 13px;
}

.menu--link--text {
    font-size: $menu--font-size;
}

.menu--link--all {
    text-decoration: none;
}

.menu--link--all:hover, .active {
    text-decoration: none;
    .menu--link--hover-stripe {
        background-color: $menu--bg--hover-stripe;
    }
    .menu--link {
        background-color: $menu--bg--hover;
    }
    .menu--link--icon {
        color: $menu--text--hover;
    }
    .menu--link--text {
        color: $menu--text--hover;
    }
}

.menu--link--container {
    padding-bottom: 30px;
}

.menu--manager--heading {
    font-family: $menu--font;
    font-size: $menu--font-size;
    color: $menu--text;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.28px;
    padding: 20px 0 0 18px;
    border-top: 1px solid $menu--text;
}

.your-manager-name {
    color: $menu--text;
    font-family: $menu--font;
    font-size: $menu--font-size;
}

.your-manager-photo-and-name {
    display: flex;
}

.your-manager-photo {
    padding-left: 18px;
    padding-right: 10px;
}

.your-manager-name {
    color: #56819f;
}

.your-manager-online {
    width: 12px;
    height: 11px;
    border-radius: 50%;
    background-color: #04ae00;
    position: relative;
        top: -48px;
        left: 31px;
}
