.menu--link {
    color: $menu--text;
    display: flex;
    align-items: center;
    font-family: $menu--font;
    height: 40px;
    text-decoration: none;
    margin-left: 4px;
}

.icon-general, .icon-details, .icon-links, .icon-banners, .icon-payout, .icon-postback, .icon-personaldata {
    padding-left: 14px;
    padding-right: 13px;
}

.menu--link--text {
    font-size: $menu--font-size;
}

.menu--link--all {
    text-decoration: none;
}

.menu--link--all:hover, .active {
    text-decoration: none;
    .menu--link--hover-stripe {
        background-color: $menu--bg--hover-stripe;
    }
    .menu--link {
        background-color: $menu--bg--hover;
    }
    .menu--link--icon {
        color: $menu--text--hover;
    }
    .menu--link--text {
        color: $menu--text--hover;
    }
}

.menu--link--container {
    padding-bottom: 30px;
}
