.menu-logo-hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.menu-hamburger {
    width: 18px;
    height: 16px;
    padding: 20px;
}

.menu-logo {
    width: 86px;
    height: 23px;
    padding: 20px;
}

.menu-link {
    color: $menu-text;
    display: flex;
    align-items: center;
    font-family: $menu-font;
    height: 40px;
    text-decoration: none;
    margin-left: 4px;
}

.icon-general, .icon-details, .icon-links, .icon-banners, .icon-payout, .icon-postback, .icon-personaldata {
    padding-left: 14px;
    padding-right: 13px;
}

.menu-link-text {
    font-size: $menu-font-size;
}

.menu-link-no-underline {
    text-decoration: none;
}

.menu-link-no-underline:hover .menu-hover-stripe {
    background-color: $menu-bg-hover-stripe;
}

.menu-link-no-underline:hover .menu-link {
    background-color: $menu-bg-hover;
}

.menu-link-no-underline:hover .menu-link-icon, .menu-link-no-underline:hover .menu-link-text {
    color: $menu-tex-hover;
}

.menu-vert-line {
    height: 1px;
    background-color: $menu-text;
}

.your-manager-heading {
    font-family: $menu-font;
    font-size: $menu-font-size;
    color: $menu-text;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.28px;
    padding-left: 18px;
}

.your-manager-name {
    color: $menu-text;
    font-family: $menu-font;
    font-size: $menu-font-size;
}

.your-manager-photo-and-name {
    display: flex;
}

.your-manager-photo {
    padding-left: 18px;
    padding-right: 10px;
}

.your-manager-name {
    color: #56819f;
}

.your-manager-online {
    width: 12px;
    height: 11px;
    border-radius: 50%;
    background-color: #04ae00;
    position: relative;
        top: -48px;
        left: 31px;
}