.menu--logo-hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.menu--hamburger {
    padding: 20px;
    position: relative;
    top: -1px;
}

.menu--logo {
    padding: 20px;
}