.topbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
        top: 0;
        left: 188px;
        right: 0vw;
    height: 60px;
    border-bottom: 1px solid $box--line;
    background-color: $menu--text--hover;
    z-index: 1000;
}

.topbar__wallet {
    display: flex;
    align-items: center;
    padding-right: 17px;
    padding-left: 17px;
    font-family: $menu--font;
    border-left: 1px solid $box--line;
}

.topbar__wallet__wallet_icon {
    color: $top-bar--text;
    padding-right: 13px;
}

.topbar__wallet__balance {
    color: $top-bar--text;
    padding-right: 13px;
    font-size: 20px;
    font-weight: 500;
}

.topbar__wallet__arrow_icon {
    color: $top-bar--text;
    font-size: 10px;
    position: relative;
        top: 3px;
}

.topbar__notification {
    display: flex;
    align-items: center;
    padding-right: 11px;
    padding-left: 17px;
    border-left: 1px solid $box--line;
}

.topbar__notification_icon {
    color: $top-bar--text;
}

.topbar__notification_new {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $box--button-orange;
    position: relative;
        top: -10px;
        left: -10px;
}

.topbar__user {
    display: flex;
    align-items: center;
    padding-right: 17px;
    padding-left: 17px;
    font-family: $menu--font;
    border-left: 1px solid $box--line;
    cursor: pointer;
}

.topbar__user_icon {
    color: $top-bar--text;
    padding-right: 13px;
}

.topbar__user_name {
color: $top-bar--text--user-name;
font-size: 13px;
font-weight: 400;
}

.topbar__exit {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid $box--line;
    color: $top-bar--text;
    cursor: pointer;
}

@media (max-width: 767px) {
    .topbar {
        display: flex;
        position: static;
        width: 100%;
    }
}
