.top-bar--notification {
    display: flex;
    align-items: center;
    padding-right: 11px;
    padding-left: 17px;
    border-left: 1px solid $box--line;
}

.top-bar--notification-icon {
    color: $top-bar--text;
}

.top-bar--notification-new {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $box--button-orange;
    position: relative;
        top: -10px;
        left: -10px;
}
